.titulo-poke{
    border-bottom: 1px solid;
}

.cartao-poke{
    background-color: #77c850;
    width: 75%;
    border-radius: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
   
}

.num-poke{
    text-align: right;
    grid-column-end: span 2;
    padding: .5rem 1rem 0 0;
    font-size: .700rem;
}
.nome-poke{
    grid-column-end: span 2;
    text-align: left;
    padding: 0 0 0 .5rem;
    font-size: 1rem;
    color: #fff;
}

.tipo{
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    color: #fff;
}
.tipo-poke{
    background-color:#a040a0;
    border-radius: 2rem;
    margin: .1rem 1rem;
    font-size: .700rem;
    padding: .5rem;
}
.img-poke{    
    width: 100%;
    padding: .5rem;    
}
