/*layout tablet*/
@media screen and (max-width: 425px) {
    .titulo-poke{
        width: 50%;
    }
    .baseCartoes{
        grid-template-columns: 1fr;
        grid-template-rows: 50% 50%;
        width: 80%;
        height: 80%;
    }
    .nome-poke{
        font-size: 1.5rem;
    }
    .tipo{
        font-size: .5rem;
    }
    .img-poke{
        transform: scale(1.2);
    }
}

/*layout tablet xl*/
@media screen and (min-width: 700px) {

    
}

/*layout desktop*/
@media screen and (min-width: 1024px) {

    
}