.cartao-poke{
    box-sizing: border-box;
    width: 100%;
    border-radius: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: .5rem;
}
.num-poke{
    text-align: right;
    grid-column-end: span 2;
    font-size: .700rem;
    padding: .700rem 1rem 0 0;
    color: rgba(247, 247, 247, 0.664);
}
.nome-poke{
    text-transform: capitalize;
    grid-column-end: span 2;
    text-align: left;
    padding: 0 0 .5rem 1rem;
    font-size: 1rem;
    color: #fff;
}
.tipo{
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    color: #fff;
}
.tipo-poke{
    border-radius: 2rem;
    margin: .1rem 1rem;
    font-size: .700rem;
    padding: .5rem;
    filter: brightness(1.1);
}

.img-poke{    
    width: 100%;
    padding: .5rem;    
}


/*layout tablet*/
@media screen and (min-width: 425px) {

   .cartao-poke{
    width: 90%;
    margin: .5rem auto;
   }

}